{% extends "base.html" %}

{% block content %}
<div class="row valign-wrapper" style="margin: 0;">
    <div class="col s12">
        <h3 class="grey-text">{{ _('Equipment') }}</h3>
    </div>
</div>

{% include "_flash.html" %}

<div class="row">
    <div class="col s3 center-align grey-text">
        <h6 class="grey-text text-lighten-1">{{ _('Instruments') }}</h6>
            {{ equipment.telescopes|length }}
    </div>
    <div class="col s3 center-align grey-text">
        <h6 class="grey-text text-lighten-1">{{ _('Eyepieces') }}</h6>
            {{ equipment.eyepieces|length }}
    </div>
    <div class="col s3 center-align grey-text">
        <h6 class="grey-text text-lighten-1">{{ _('Import from DeepskyLog') }}</h6>
        <a href="#modal_import_from_deepskylog" class="modal-trigger"><i
                    class="material-icons small">download</i></a>
    </div>
</div>

<div id="modal_import_from_deepskylog" class="modal">
    <div class="modal-content">
        <h4>{{ _('Download instruments from DeepskyLog') }}</h4>
        <p>{{ _('This will delete all instruments and eyepieces from your PiFinder and replace them with the instruments and eyepieces from DeepskyLog. Are you really sure?') }}</p>
        <form action="/equipment/import_from_deepskylog" method="post" id="deepskylog_form" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input value="" id="dsl_name" type="text" name="dsl_name">
                    <label for="dsl_name">{{ _('DeepskyLog User Name') }}</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" form="deepskylog_form" class="btn-flat">{{ _('Import!') }}</button>
        <a href="#!" class="modal-close btn-flat">{{ _('Cancel') }}</a>
    </div>
</div>

<a href="/equipment/edit_instrument/-1" class="btn">{{ _('Add new instrument') }}</a>
<a href="/equipment/edit_eyepiece/-1" class="btn">{{ _('Add new eyepiece') }}</a>

<h5 class="grey-text" id="instruments-heading">{{ _('Instruments') }}</h5>
<table id="instruments-table" class="grey darken-2 grey-text z-depth-1 responsive-table">
    <tr>
        <th scope="col">{{ _('Make') }}</th>
        <th scope="col">{{ _('Name') }}</th>
        <th scope="col">{{ _('Aperture') }}</th>
        <th scope="col">{{ _('Focal Length (mm)') }}</th>
        <th scope="col">{{ _('Obstruction %') }}</th>
        <th scope="col">{{ _('Mount Type') }}</th>
        <th scope="col">{{ _('Flip') }}</th>
        <th scope="col">{{ _('Flop') }}</th>
        <th scope="col">{{ _('Reverse Arrow A') }}</th>
        <th scope="col">{{ _('Reverse Arrow B') }}</th>
        <th scope="col">{{ _('Active') }}</th>
        <th scope="col">{{ _('Actions') }}</th>
    </tr>
    {% for instrument in equipment.telescopes %}
    <tr>
        <td>{{ instrument.make }}</td>
        <td>{{ instrument.name }}</td>
        <td>{{ instrument.aperture_mm }}</td>
        <td>{{ instrument.focal_length_mm }}</td>
        <td>{{ instrument.obstruction_perc }}</td>
        <td>{{ instrument.mount_type }}</td>
        <td>{{ instrument.flip_image }}</td>
        <td>{{ instrument.flop_image }}</td>
        <td>{{ instrument.reverse_arrow_a }}</td>
        <td>{{ instrument.reverse_arrow_b }}</td>
        <td>
                <form method="post" action="/equipment/set_active_instrument/{{ loop.index0 }}" class="inline-form">
                    <label>
                        <input type="radio" name="active_instrument" onchange="this.form.submit()"
                        {% if equipment.active_telescope == instrument %}
                            checked
                        {% endif %}
                        />
                        <span></span>
                    </label>
                </form>
        </td>
        <td>
            <a href="/equipment/edit_instrument/{{ loop.index0 }}" title="{{ _('Edit') }}" aria-label="{{ _('Edit') }}"><i class="material-icons">edit</i></a>
            <a href="#delete-instrument-{{ loop.index0 }}" class="modal-trigger" title="{{ _('Delete') }}" aria-label="{{ _('Delete') }}"><i class="material-icons">delete</i></a>
            <div id="delete-instrument-{{ loop.index0 }}" class="modal">
              <div class="modal-content">
                <h4>{{ _('Confirm Delete') }}</h4>
                <p>{{ _('Delete the instrument "%(name)s"? This action cannot be undone.') % {'name': instrument.make ~ ' ' ~ instrument.name} }}</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close btn grey">{{ _('Cancel') }}</a>
                <form method="post" action="/equipment/delete_instrument/{{ loop.index0 }}" class="inline-form">
                  <button type="submit" class="btn red">{{ _('Delete') }}</button>
                </form>
              </div>
            </div>
       </td>
    </tr>
    {% endfor %}
</table>

<h5 class="grey-text" id="eyepieces-heading">{{ _('Eyepieces') }}</h5>
<table id="eyepieces-table" class="grey darken-2 grey-text z-depth-1 responsive-table">
    <tr>
        <th scope="col">{{ _('Make') }}</th>
        <th scope="col">{{ _('Name') }}</th>
        <th scope="col">{{ _('Focal Length (mm)') }}</th>
        <th scope="col">{{ _('Apparent FOV') }}</th>
        <th scope="col">{{ _('Field Stop') }}</th>
        <th scope="col">{{ _('Active') }}</th>
        <th scope="col">{{ _('Actions') }}</th>
    </tr>

    {% for eyepiece in equipment.eyepieces %}
    <tr>
        <td>{{ eyepiece.make }}</td>
        <td>{{ eyepiece.name }}</td>
        <td>{{ eyepiece.focal_length_mm }}</td>
        <td>{{ eyepiece.afov }}</td>
        <td>{{ eyepiece.field_stop }}</td>
        <td>
                <form method="post" action="/equipment/set_active_eyepiece/{{ loop.index0 }}" class="inline-form">
                    <label>
                        <input type="radio" name="active_eyepiece" onchange="this.form.submit()"
                        {% if equipment.active_eyepiece == eyepiece %}
                            checked
                        {% endif %}
                        />
                        <span></span>
                    </label>
                </form>
        </td>
        <td>
            <a href="/equipment/edit_eyepiece/{{ loop.index0 }}" title="{{ _('Edit') }}" aria-label="{{ _('Edit') }}"><i class="material-icons">edit</i></a>
            <a href="#delete-eyepiece-{{ loop.index0 }}" class="modal-trigger" title="{{ _('Delete') }}" aria-label="{{ _('Delete') }}"><i class="material-icons">delete</i></a>
            <div id="delete-eyepiece-{{ loop.index0 }}" class="modal">
              <div class="modal-content">
                <h4>{{ _('Confirm Delete') }}</h4>
                <p>{{ _('Delete the eyepiece "%(name)s"? This action cannot be undone.') % {'name': eyepiece.make ~ ' ' ~ eyepiece.name} }}</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close btn grey">{{ _('Cancel') }}</a>
                <form method="post" action="/equipment/delete_eyepiece/{{ loop.index0 }}" class="inline-form">
                  <button type="submit" class="btn red">{{ _('Delete') }}</button>
                </form>
              </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<br/>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('select');
        let instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.modal');
        let instances = M.Modal.init(elems);
    });
</script>
{% endblock %}