{% extends "base.html" %}

{% block content %}
<h5 class="grey-text">{{ _('Observing Sessions') }}</h5>
<div class="row">
  <div class="col s3 center-align grey-text">
    <h6 class="grey-text text-lighten-1">{{ _('Sessions') }}</h6>
    {{ metadata["sess_count"] }}
  </div>
  <div class="col s3 center-align grey-text">
    <h6 class="grey-text text-lighten-1">{{ _('Objects') }}</h6>
    {{ metadata["object_count"] }}
  </div>
  <div class="col s3 center-align grey-text">
    <h6 class="grey-text text-lighten-1">{{ _('Total Hours') }}</h6>
    {{ metadata["total_duration"] | round(1) }}
  </div>
  <div class="col s3">
    <a href="/observations?download=1" class="grey-text" title="{{ _('Download all observations') }}" aria-label="{{ _('Download all observations') }}"><i class="material-icons medium">download</i></a>
  </div>
</div>
<div class="center-align">
<table class="grey darken-2 grey-text z-depth-1 responsive-table">
<tr>
<th scope="col">{{ _('Date') }}</th><th scope="col">{{ _('Location') }}</th><th scope="col">{{ _('Hours') }}</th><th scope="col">{{ _('Objects') }}</th>
</tr>
{% for session in sessions %}
<tr>
  <td><a href="/observations/{{ session["UID"] }}" class="grey-text text-lighten-1">{{ session["start_time_local"] }}</a></td>
  <td>{{ session["timezone"] }}<br>{{ session["lat"] | round(2) }} / {{ session["lon"] | round(2) }}</td>
  <td>{{ session["duration"] | round(1) }}</td>
  <td>{{ session["observations"] }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}